.logoimgm{
    scale: 50%;
}
.hero-section{
    position: relative;   

}
.heroimg{
    width: 100%;
}
.medsimg{
    scale: 80%;
}
body {
    font-family: "Times New Roman", Times, serif;
}


@media only screen and (max-width: 600px) {
    .logoimg {
        width: 100%;
    }
    .logoimgm{
        scale: 80%;
        width: 100%; 
    }
    .medsimg{
        scale: 100%;
    }
    .hero-section{
        display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    }
    .heroimg{ 
        width: 650px;
    }
    h4{
        font-size: 21px; 
    }
    h3{
        font-size: 25px; 
    }
    /* CSS code for phone view */
}
